<nav class='nav-bar'>
  <button class='btn-logo'>
    <a class='nav-bar-link' href='/'><img class='img-logo' src='/images/Logo (1).png' alt='' /></a>
  </button>
  <button class='btn-nav'>
    <a class='nav-bar-link' href='/login'> Login</a>
  </button>
</nav>

<div class='tittle'>
  <h1 class='tittle-text'>Cook Helper</h1>
  <h3 class='subtittle'><i>enjoy cooking</i></h3>

</div>
<div class='text-signup'>
  <h3>You are not registered yet?</h3>
  <button class='btn-nav'>
    <a class='nav-bar-link' href='/signup'>Sign up</a>
  </button>

</div>
<button class='but-instructions'>
  <a href='/help-page'><img class='btn-quest' src='/images/icon-question-mark3.jpg' alt='' /></a>
</button>
<footer class='footer'>
  <p>Developed by
    <a href='https://github.com/Borjaarmet'>Borja Armet</a>
    and
    <a href='https://github.com/sortros'>Josep Albiol</a></p>
</footer>