<nav class="nav-bar">
    <button class="btn-nav">
      <a href="/users/signup">Sign up</a>
    </button>
    <button class="btn-nav">
      <a href="/users/login"> Login</a>
    </button>
</nav>
<div class="container">
      
        <div class="img-logo">
            <h1 class="tittle">Cook Helper <br></h1>
            <h4 class="subtittle"> <i> enjoy cooking!</i></h4>
        </div>
</div>
