<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>
  <body>

    {{{body}}}

    <footer class="footer">
      <p>Developed by <a href="https://github.com/Borjaarmet">Borja Armet</a> and <a href="https://github.com/sortros">Josep Albiol</a></p>
    </footer>
  </body>
</html>
