<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
</nav>
<div class="help-page">
    <h3 class="titles-help">What is Supercook?</h3>
    <p class="paragraph-help">Do you have only few ingredients at home and don’t know what to make?
        CookHelper is a recipe search engine that finds recipes you can make with the ingredients you currently have at home.
        CookHelper has indexed hundreds of recipes, so no matter what ingredients you have, CookHelper has you covered.
        For best results, make sure to tell CookHelper about every ingredient you have at home. The more ingredients you add to CookHelper, the better the recipes will be!
        CookHelper is also a practical way to save money. Take full advantage of ingredients you already have, and naturally buy less groceries.</p>
    <h3 class="titles-help">How do I add my ingredients?</h3>
    <p class="paragraph-help"> First you have to signup. On category view, simply check off the ingredients you have on each category.
        For best results, add all the ingredients you have in your home. The more ingredients you tell CookHelper you have, the better the recipes will be.</p>
    <h3 class="titles-help"> What are the benefits of signing up for an account?</h3>
    <p class="paragraph-help"> If you sign up for an account,your profile will be saved on CookHelpers servers. This means you can sign into your account from any device and everything will be synced up.
        Having an account also allows you to “favorite” recipes you like so you can easily find them later.</p>
    <h3 class="titles-help">How do I “favorite” a recipe?</h3> 
    <p class="paragraph-help"> First, sign up for an account, or sign into your existing account.
        To favorite a recipe, click the "add favourites" button near any recipe.
        To “unfavorite”, simply click the "delete" button near any recipe.</p>
    <h3 class="titles-help">Where can I view my favorite recipes?</h3> 
    <p class="paragraph-help"> First, sign up for an account, or log into your existing account.
        To view your favorite recipes, click “profile” button. From the list,click on “View favorites”.</p>
        How can I contact cookHelper?
        You can email us at: comments@CookHelper.com
    <h3 class="titles-help">Who created Supercook?</h3> 
    <p class="paragraph-help">CookHelper was created <a href="https://github.com/Borjaarmet">Borja Armet</a> and <a href="https://github.com/sortros">Josep Albiol</a></p> 

</div>