<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
</nav>
<div id="login">
    <form action="/login" method="POST">
    <label class="label-login" for="input-email">Email</label>
    <br>
    <input type="text" name="email" id="input-email" placeholder="Your email">
    <br>
    <label class="label-login" for="input-password">Password</label>
    <br>
    <input type="password" name="password" id="input-password" placeholder="******">
    
    
    <button class="submit" type="submit">Login</button>
    </form>

{{#if errorMessage}}
 <p class="error">{{errorMessage}}</p>
{{/if}}

</div>

