<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
     <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn-nav">Logout</button>
    </form>
  
</nav>
{{#if userInSession}}
    <h2>This is your profile page {{userInSession.username}}! </h2>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
<div class="profile-form">
    <form action="/profile/edit" method="POST">
        <label htmlFor="name">Username</label>
        <br>
        <input type="text" name="username" id="name" value="{{userInSession.username}}">
        <br>
        <label htmlFor="email">Email</label>
        <br>
        <input type="text" name="email" id="email" value="{{userInSession.email}}">
        <br>
        <label htmlFor="email">Email</label>
        <br> 
        <input type= name="password" id="input-password" placeholder="******">
        <label class="label-login" for="input-password">Password</label>
        <br>
        <input type="password" name="password" id="input-password" placeholder="******">
        <label class="label-login" for="input-password">Password</label>
        <br>
        <input type="password" name="password" id="input-password" placeholder="******">
        <br>
       
        <button class="submit" type="submit">Save Changes</button>
        <br>
    </form>
    <button class="submit">
<a href="/favourites">See your favourites</a>
</button>
</div>



