<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img src="/images/Logo (1).png" alt="" /></a>	
	</button>
</nav>
{{#if userInSession}}
    <h2>This is your profile page {{userInSession.username}}! </h2>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}
<div class="profile-form">
    <form action="/profile/edit" method="POST">
        <label htmlFor="name">Username</label>
        <br>
        <input type="text" name="username" id="name" value="{{userInSession.username}}">
        <br>
        <label htmlFor="email">Email</label>
        <br>
        <input type="text" name="email" id="email" value="{{userInSession.email}}">
        <br>     
        <button class="submit" type="submit">Save Changes</button>
        <br>
    </form>

</div>



