
<h1> {{user.userName}}Profile</h1>

<form action="/users/profile" method="POST">
<label for="input-name">name:</label>
<input type="text" name="input-name" id="name">

<label for="input-email">email:</label>
<input type="text" name="input-email" id="email">

<p>falta rellenar campos</p>

<button>
    <a href="/users/welcome">save changes</a>
</button>
</form>
