<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>	
	</button>
	  <form id="logout-form" action="/logout" method="POST">
        <button type="submit" class="btn-nav">Logout</button>
    </form>
  
</nav>
<div class="list-recipes">
{{#each recipesFounded}}

<ul>
    <li>{{recipeName}} </li>

	<button class="btn-details">
    <a  href="/recipes/{{_id}}/details">Details</a>
	</button>
	<hr>
</ul>

{{/each}}
</div>