<h1>Search page </h1>

<div class="signup">
<form action="/search" method="POST">

<label for="carnes">Escoge tipo de carne:</label>
<select id="carnes" name="lista-carnes" form="carneform">
  <option value="ternera">ternera</option>
  <option value="cerdo">cerdo</option>
  <option value="cordero">cordero</option>
  <option value="pollo">pollo</option>
  <option value=""></option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
  <option value=""></option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
  <option value=""></option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
  <option value=""></option>
</select>
<br>
<button type="submit">Search</button>
</form>

</div>