<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img src="/images/Logo (1).png" alt="" /></a>	
	</button>
</nav>
<div class="form-search">
  <form action="/search" method="POST">

    <label for="meat">choose the type of meat</label>
    <br>
    <select inputmode="meat" id="meat" name="meat" form="meat">
      
      <option value="beef">beef</option>
      <option value="pork">pork</option>
      <option value="lamb">lamb</option>
      <option value="chicken">chicken</option>
      <option value=""></option>
    </select>
    <br>
    <label for="fish">choose the type of fish</label>
    <br>
    <select id="fishform" name="fish" form="fishform">
      <option value="salmon">salmon</option>
      <option value="tuna">tuna</option>
      <option value="monkfish">monkfish</option>
      <option value="seabass">seabass</option>
      <option value=""></option>
    </select>
    <br>
    <label for="vegetables">choose the type of vegetables</label>
    <br>
    <select id="vegetablesform" name="vegetables" form="vergetablesform">
      <option value="tomatoes">tomatoes</option>
      <option value="onion">onion</option>
      <option value="peppers">peppers</option>
      <option value="zucchini">zuchini</option>
      <option value="avocado">avocado</option>
      <option value="cucumber">cucumber</option>
      <option value="pumpkin">pumpkin</option>
      <option value="carrots">carrots</option>
      <option value=""></option>
    </select>
    <br>
    <label for="pasta">choose the type of pasta</label>
    <br>
    <select id="pastaform" name="pasta" form="pastaform">
      <option value="raviolis">raviolis</option>
      <option value="spaghetti">spaghetti</option>
      <option value="macarroni">macarroni</option>
      <option value="noodles">noodles</option>
      <option value=""></option>
    </select>
    <br>
    <label for="dairy">choose the type of dairy</label>
    <br>
    <select id="dairyform" name="dairy" form="dairyform">
      <option value="eggs">eggs</option>
      <option value="milk">milk</option>
      <option value="butter">butter</option>
      <option value="cheddar">cheddar</option>
      <option value="parmesan">parmesan</option>
      <option value="sour cream">sour cream</option>
      <option value="coco milk">coco milk</option>
      <option value=""></option>
    </select>
    <br>
    
    <button class="submit" type="submit">Search</button>
  </form>

</div>