<h1>Search page </h1>

<form action="/users/search" method="POST">


<label for="carnes">Escoge tipo de carne:</label>
<select id="carnes" name="lista-carnes" form="carneform">
  <option value="ternera">ternera</option>
  <option value="ceedo">cerdo</option>
  <option value="cordero">cordero</option>
  <option value="pollo">pollo</option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
</select>
<br>
<label for="verduras">Escoge tipo de verduras:</label>
<select id="verduras" name="lista-verduras" form="verdurasform">
  <option value="tomates">tomates</option>
  <option value="cebolla">cebolla</option>
  <option value="pimientos">pimientos</option>
  <option value="calabacin">calabacin</option>
</select>
<br>
<button>
    <a href="/users/recipes"> Search recipes</a>
</button>


</form>