<nav class="nav-bar">
	<button class="btn-nav">
		<a class="nav-bar-link" href="/"><img class="img-logo" src="/images/Logo (1).png" alt="" /></a>
		
	</button>
</nav>
<div id="signup">
  
	<form action="/signup" method="POST">
		<label for="input-username">Username</label>
			<br>
		<input class="inputs" type="text" name="username" id="username" placeholder="Your username"/>
			<br>
		<label class="inputs" for="input-password">Password</label>
			<br>
		<input class="inputs" type="password" name="password" placeholder="********"/>
			<br>
		<label for="input-email">Email</label>
			<br>
		<input class="inputs" type="email" name="email" placeholder="Your email"/>
			<br>
		<button class="submit" type="submit">Register</button>
	</form>

	{{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>

