<h1>Signup</h1>

<form action="/users/signup" method="POST">
<label for="input-name">name:</label>
<input type="text" name="input-name" id="name">

<button>
    <a href="/users/welcome">Create account</a>
</button>
</form>
