
{{#if userInSession}}
<div id="welcome"></div>
<h2>Welcome {{userInSession.username}}! </h2>
<button class="submit">
    <a href="/search">Search</a>
</button>

<div class="buttons">
<button class="submit">
    <a href="/profile/edit">profile</a>
</button>

<form id="logout-form" action="/logout" method="POST">
    <button type="submit" class="submit">Logout</button>
</form>
</div>


{{/if}}



</div>
